Repository ProjectBeep/BEEP, changes with the labels that .github/labeler.yml gives for each.
All labels: test, chore, style, feat, docs

.github/labeler.yml:

test:
  - domain/src/test/**/*
  - presentation/src/test/**/*
  - presentation/src/androidTest/**/*
  - data/src/test/**/*

chore:
  - app/*.gradle
  - build.gradle
  - buildSrc/**/*

style:
  - presentation/src/main/res/**/*

feat:
  - app/**/*
  - data/src/**/*
  - domain/src/**/*
  - presentation/src/main/java/**/*

docs:
  - README.md

Issues #287 feat: Application 로 필요한 Resource 옮김
  app/build.gradle.kts
  app/src/main/java/com/lighthouse/BeepApplication.kt
  app/src/main/res/mipmap-hdpi/ic_launcher.png
  app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  app/src/main/res/mipmap-mdpi/ic_launcher.png
  app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  app/src/main/res/mipmap-xhdpi/ic_launcher.png
  app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/styles.xml
  app/src/main/res/values/themes.xml
  app/src/main/res/xml/backup_rules.xml
  app/src/main/res/xml/data_extraction_rules.xml
  presentation/build.gradle.kts
  settings.gradle.kts
  worker/.gitignore
  worker/build.gradle.kts
Labels: feat

Issues #287 feat: Worker 모듈 분리
  app/build.gradle.kts
  app/src/main/java/com/lighthouse/BeepApplication.kt
  app/src/main/java/com/lighthouse/di/WorkManagerInitializer.kt
  common-android/build.gradle.kts
  common-android/src/main/res/drawable/bg_splash.xml
  common-android/src/main/res/drawable/ic_splash_beep.xml
  common-android/src/main/res/values/attrs.xml
  common-android/src/main/res/values/colors.xml
  data/data-database/src/main/java/com/lighthouse/data/database/mapper/gifticon/search/DBGifticonNotificationMapper.kt
  data/data-database/src/main/java/com/lighthouse/data/database/model/DBGifticonNotification.kt
  domain/src/main/java/com/lighthouse/domain/controller/NotificationWorkerController.kt
  domain/src/main/java/com/lighthouse/domain/usecase/GetGifticonsWithDDayUseCase.kt
  features/ui-common/build.gradle.kts
  features/ui-common/src/main/java/com/lighthouse/features/common/Const.kt
  gradle/libs.versions.toml
  model/src/main/java/com/lighthouse/beep/model/gifticon/GifticonNotification.kt
  settings.gradle.kts
  worker/build.gradle.kts
  worker/src/main/AndroidManifest.xml
  worker/src/main/java/com/lighthouse/worker/controller/NotificationWorkerControllerImpl.kt
  worker/src/main/java/com/lighthouse/worker/di/ControllerModule.kt
  worker/src/main/java/com/lighthouse/worker/di/WorkerModule.kt
  worker/src/main/java/com/lighthouse/worker/workers/NotificationWorker.kt
  worker/src/main/java/com/lighthouse/worker/workers/WidgetWorker.kt
  worker/src/main/res/values/strings.xml
Labels: feat

Issues #287 feat: Gifticon 에서 DDay를 미리 계산해서 가져오는 방식으로 변경
  common-android/src/main/res/values/styles.xml
  common-android/src/main/res/values/themes.xml
  data/data-database/src/main/java/com/lighthouse/data/database/dao/GifticonSearchDao.kt
  data/data-database/src/main/java/com/lighthouse/data/database/mapper/gifticon/search/DBGifticonEntityMapper.kt
  data/data-database/src/main/java/com/lighthouse/data/database/mapper/gifticon/search/DBGifticonMapper.kt
  data/data-database/src/main/java/com/lighthouse/data/database/model/DBGifticon.kt
  data/data-database/src/main/java/com/lighthouse/data/database/repository/gifticon/GifticonSearchDatabaseRepositoryImpl.kt
  data/data/src/main/java/com/lighthouse/repository/gifticon/GifticonSearchDatabaseRepository.kt
  data/data/src/main/java/com/lighthouse/repository/gifticon/GifticonSearchRepositoryImpl.kt
  data/data/src/main/java/com/lighthouse/repository/user/UserRepositoryImpl.kt
  domain/src/main/java/com/lighthouse/domain/repository/gifticon/GifticonSearchRepository.kt
  model/src/main/java/com/lighthouse/beep/model/gifticon/Gifticon.kt
  worker/src/main/java/com/lighthouse/worker/workers/ExpirationBrandWorker.kt
Labels: feat

Issues #287 feat: Worker 에서 navigate 역할을 app에게 맡김
  app/src/main/java/com/lighthouse/Const.kt
  worker/build.gradle.kts
  worker/src/main/java/com/lighthouse/worker/navigator/NotificationNavigator.kt
  worker/src/main/java/com/lighthouse/worker/workers/NotificationWorker.kt
  worker/src/main/java/com/lighthouse/worker/workers/WidgetWorker.kt
Labels: feat

Issues #287 feat: Navigator di 적용
  app/src/main/java/com/lighthouse/di/NavigatorModule.kt
  app/src/main/java/com/lighthouse/navigator/NotificationNavigatorImpl.kt
  worker/src/main/java/com/lighthouse/worker/navigator/NotificationNavigator.kt
  worker/src/main/java/com/lighthouse/worker/workers/NotificationWorker.kt
Labels: feat

Issues #287 feat: ui-intro feature 생성
  app/build.gradle.kts
  features/ui-intro/.gitignore
  features/ui-intro/build.gradle.kts
  settings.gradle.kts
Labels: feat

Issues #287 feat: Const import 로 이동
  app/src/main/java/com/lighthouse/navigator/NotificationNavigatorImpl.kt
Labels: feat

Issues #287 feat: Intro 화면 실행 구현
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/lighthouse/di/NavigatorModule.kt
  app/src/main/java/com/lighthouse/navigator/DetailPendingNavigatorImpl.kt
  app/src/main/java/com/lighthouse/navigator/MainNavigatorImpl.kt
  common-android/src/main/res/values/strings.xml
  features/ui-common/src/main/java/com/lighthouse/features/common/navigator/DetailNavigator.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/navigator/DetailPendingNavigator.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/navigator/MainNavigator.kt
  features/ui-intro/build.gradle.kts
  features/ui-intro/src/main/AndroidManifest.xml
  features/ui-intro/src/main/java/com/lighthouse/features/intro/navigator/IntroNavigator.kt
  features/ui-intro/src/main/java/com/lighthouse/features/intro/ui/IntroActivity.kt
  features/ui-intro/src/main/java/com/lighthouse/features/intro/ui/IntroViewModel.kt
  features/ui-intro/src/main/res/drawable/anim_logo.xml
  features/ui-intro/src/main/res/layout/activity_intro.xml
  features/ui-intro/src/main/res/values/strings.xml
  features/ui-intro/src/main/res/values/themes.xml
  presentation/src/main/res/layout/activity_sign_in.xml
  worker/build.gradle.kts
  worker/src/main/java/com/lighthouse/worker/navigator/NotificationNavigator.kt
  worker/src/main/java/com/lighthouse/worker/workers/NotificationWorker.kt
Labels: style, feat

Issues #287 feat: UI-Main 모듈 생성
  app/build.gradle.kts
  app/src/main/java/com/lighthouse/navigator/MainNavigatorImpl.kt
  features/ui-main/build.gradle.kts
  features/ui-main/src/main/AndroidManifest.xml
  features/ui-main/src/main/java/com/lighthouse/features/main/ui/MainActivity.kt
  features/ui-main/src/main/java/com/lighthouse/features/main/ui/MainViewModel.kt
  features/ui-main/src/main/res/layout/activity_main.xml
  settings.gradle.kts
Labels: feat

Issues #287 feat: Login 여부에 따른 로직 구현
  data/data-preference/src/main/java/com/lighthouse/data/preference/repository/UserPreferenceRepositoryImpl.kt
  data/data/src/main/java/com/lighthouse/repository/user/UserPreferenceRepository.kt
  data/data/src/main/java/com/lighthouse/repository/user/UserRepositoryImpl.kt
  domain/src/main/java/com/lighthouse/domain/repository/user/UserRepository.kt
  domain/src/main/java/com/lighthouse/domain/usecase/user/IsLoginUserUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/user/LoginUseCase.kt
  features/ui-intro/src/main/java/com/lighthouse/features/intro/ui/IntroActivity.kt
  features/ui-intro/src/main/java/com/lighthouse/features/intro/ui/IntroViewModel.kt
Labels: feat

Issues #287 feat: ui common 에 throttle 추가
  features/ui-common/src/main/java/com/lighthouse/features/common/ext/ThrottleExt.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/utils/throttle/OnThrottleClickListener.kt
Labels: none

Issues #287 feat: intro 에 SignIn 기능 추가
  features/ui-intro/.gitignore
  features/ui-intro/build.gradle.kts
  features/ui-intro/src/main/java/com/lighthouse/features/intro/exception/NotFoundEmailException.kt
  features/ui-intro/src/main/java/com/lighthouse/features/intro/ui/IntroActivity.kt
  features/ui-intro/src/main/java/com/lighthouse/features/intro/ui/IntroViewModel.kt
  features/ui-intro/src/main/res/layout/activity_intro.xml
  features/ui-intro/src/main/res/values/strings.xml
  gradle/libs.versions.toml
Labels: none

Issues #287 feat: ui-common 에 공통으로 사용하는 코드 구현
  app/src/main/java/com/lighthouse/navigator/DetailPendingNavigatorImpl.kt
  common-android/src/main/res/color/black_12.xml
  common-android/src/main/res/color/black_36.xml
  common-android/src/main/res/color/black_50.xml
  common-android/src/main/res/color/black_60.xml
  common-android/src/main/res/color/on_primary_12.xml
  common-android/src/main/res/color/on_surface_12.xml
  common-android/src/main/res/color/on_surface_50.xml
  common-android/src/main/res/color/on_surface_60.xml
  common-android/src/main/res/color/on_surface_87.xml
  common-android/src/main/res/color/on_surface_9.xml
  common-android/src/main/res/color/primary.xml
  common-android/src/main/res/drawable/ripple_circle_on_primary_12.xml
  common-android/src/main/res/drawable/ripple_circle_on_surface_12.xml
  common-android/src/main/res/drawable/ripple_primary_corner_4.xml
  common-android/src/main/res/drawable/ripple_rect_corner_8_on_primary_12.xml
  common-android/src/main/res/drawable/ripple_rect_corner_8_on_surface_12.xml
  features/ui-common/build.gradle.kts
  features/ui-common/src/main/java/com/lighthouse/features/common/Extras.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/binding/FragmentViewBindingDelegate.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/dialog/confirmation/ConfirmationDialog.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/dialog/datepicker/OnDatePickListener.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/dialog/datepicker/SpinnerDatePicker.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/dialog/originimage/OriginImageDialog.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/dialog/progress/ProgressDialog.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/ext/DialogFragmentExt.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/ext/LifecycleOwnerExt.kt
  features/ui-common/src/main/res/layout/dialog_confirmation.xml
  features/ui-common/src/main/res/layout/dialog_origin_image.xml
  features/ui-common/src/main/res/layout/dialog_progress.xml
  features/ui-common/src/main/res/layout/dialog_spinner_date_picker.xml
  features/ui-common/src/main/res/values/strings.xml
  features/ui-intro/src/main/java/com/lighthouse/features/intro/exception/NotFoundEmailException.kt
  features/ui-intro/src/main/res/values/strings.xml
  presentation/src/main/java/com/lighthouse/presentation/ui/common/dialog/OriginImageDialog.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/common/dialog/datepicker/SpinnerDatePicker.kt
  presentation/src/main/java/com/lighthouse/presentation/ui/common/dialog/datepicker/SpinnerDatePickerViewModel.kt
  presentation/src/main/res/values/strings.xml
Labels: style, feat

Issues #287 feat: intro Progress 처리
  features/ui-intro/src/main/java/com/lighthouse/features/intro/exception/FailedConnectException.kt
  features/ui-intro/src/main/java/com/lighthouse/features/intro/exception/FailedLoginException.kt
  features/ui-intro/src/main/java/com/lighthouse/features/intro/exception/FailedSaveLoginUserException.kt
  features/ui-intro/src/main/java/com/lighthouse/features/intro/ui/IntroActivity.kt
  features/ui-intro/src/main/java/com/lighthouse/features/intro/ui/IntroViewModel.kt
  gradle/libs.versions.toml
Labels: none

Issues #287 fix: intro Exception message 로 인한 오류 해결
  features/ui-intro/src/main/java/com/lighthouse/features/intro/exception/FailedConnectException.kt
  features/ui-intro/src/main/java/com/lighthouse/features/intro/exception/FailedLoginException.kt
  features/ui-intro/src/main/java/com/lighthouse/features/intro/exception/FailedSaveLoginUserException.kt
Labels: none

Issues #287 fix: intro Logo Animation 및 디자인 수정
  common-android/src/main/res/color/white_12.xml
  features/ui-intro/src/main/java/com/lighthouse/features/intro/ui/IntroActivity.kt
  features/ui-intro/src/main/res/drawable/ripple_rect_corner_8_on_white_12.xml
  features/ui-intro/src/main/res/layout/activity_intro.xml
Labels: none

Issues #287 feat: ui-main 모듈 생성
  features/ui-common/src/main/java/com/lighthouse/features/common/navigator/AddGifticonNavigator.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/navigator/HomeNavigator.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/navigator/ListNavigator.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/navigator/MapNavigator.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/navigator/SecurityNavigator.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/navigator/SettingNavigator.kt
  features/ui-intro/src/main/java/com/lighthouse/features/intro/navigator/IntroNavigator.kt
  features/ui-main/build.gradle.kts
  features/ui-main/src/main/java/com/lighthouse/features/main/navigator/MainNavigator.kt
  features/ui-main/src/main/java/com/lighthouse/features/main/ui/MainActivity.kt
  features/ui-main/src/main/res/drawable/ic_add.xml
  features/ui-main/src/main/res/drawable/ic_menu_home.xml
  features/ui-main/src/main/res/drawable/ic_menu_list.xml
  features/ui-main/src/main/res/drawable/ic_menu_setting.xml
  features/ui-main/src/main/res/layout/activity_main.xml
  features/ui-main/src/main/res/menu/menu_navigation.xml
  features/ui-main/src/main/res/values/strings.xml
Labels: none

Issues #287 feat: jetpack navigation 추가
  gradle/libs.versions.toml
Labels: none

Issues #287 feat: gifticonlist, home, setting 모듈 생성
  app/build.gradle.kts
  features/ui-gifticonlist/build.gradle.kts
  features/ui-gifticonlist/src/main/res/values/strings.xml
  features/ui-home/build.gradle.kts
  features/ui-home/src/main/res/values/strings.xml
  features/ui-main/src/main/java/com/lighthouse/features/main/ui/MainActivity.kt
  features/ui-main/src/main/res/layout/activity_main.xml
  features/ui-setting/build.gradle.kts
  features/ui-setting/src/main/res/values/strings.xml
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: feat

Issues #287 feat: setting layout 작성
  build.gradle.kts
  common-android/src/main/res/drawable/bg_on_surface_12.xml
  common-android/src/main/res/values/styles.xml
  common-android/src/main/res/values/themes.xml
  domain/src/main/java/com/lighthouse/domain/usecase/user/IsGuestUseCase.kt
  features/ui-common/build.gradle.kts
  features/ui-common/src/main/java/com/lighthouse/features/common/binding/TextViewBinding.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/binding/ViewBinding.kt
  features/ui-intro/src/main/java/com/lighthouse/features/intro/di/IntroNav.kt
  features/ui-intro/src/main/java/com/lighthouse/features/intro/ui/IntroActivity.kt
  features/ui-main/src/main/java/com/lighthouse/features/main/navigator/MainNav.kt
  features/ui-main/src/main/java/com/lighthouse/features/main/ui/MainActivity.kt
  features/ui-setting/src/main/java/com/lighthouse/features/setting/navigator/SettingNav.kt
  features/ui-setting/src/main/java/com/lighthouse/features/setting/ui/SettingFragment.kt
  features/ui-setting/src/main/java/com/lighthouse/features/setting/ui/SettingViewModel.kt
  features/ui-setting/src/main/res/drawable/ic_arrow_right.xml
  features/ui-setting/src/main/res/layout/fragment_setting.xml
  features/ui-setting/src/main/res/values/strings.xml
  features/ui-setting/src/main/res/values/themes.xml
  model/src/main/java/com/lighthouse/beep/model/user/SecurityOption.kt
Labels: feat

Issues #287 feat: auth 모듈 분리
  auth/.gitignore
  auth/build.gradle.kts
  auth/src/main/java/com/lighthouse/auth/di/AuthModule.kt
  auth/src/main/java/com/lighthouse/auth/di/DataModule.kt
  auth/src/main/java/com/lighthouse/auth/exception/FailedApiException.kt
  auth/src/main/java/com/lighthouse/auth/exception/FailedConnectException.kt
  auth/src/main/java/com/lighthouse/auth/exception/FailedLoginException.kt
  auth/src/main/java/com/lighthouse/auth/repository/AuthRepository.kt
  auth/src/main/java/com/lighthouse/auth/repository/AuthRepositoryImpl.kt
  auth/src/main/java/com/lighthouse/auth/repository/CipherTool.kt
  auth/src/main/java/com/lighthouse/auth/repository/CipherToolImpl.kt
  auth/src/main/java/com/lighthouse/auth/repository/GoogleClient.kt
  auth/src/main/java/com/lighthouse/auth/repository/GoogleClientImpl.kt
  data/data/build.gradle.kts
  data/data/src/main/java/com/lighthouse/repository/user/UserRepositoryImpl.kt
  features/ui-intro/build.gradle.kts
  features/ui-intro/src/main/java/com/lighthouse/features/intro/exception/FailedLoginException.kt
  features/ui-intro/src/main/java/com/lighthouse/features/intro/exception/FailedSaveLoginUserException.kt
  features/ui-intro/src/main/java/com/lighthouse/features/intro/ui/IntroActivity.kt
  features/ui-setting/build.gradle.kts
  features/ui-setting/src/main/java/com/lighthouse/features/setting/ui/SettingViewModel.kt
  features/ui-setting/src/main/res/layout/fragment_setting.xml
Labels: none

Issues #287 feat: custom google login button 구현
  app/src/main/java/com/lighthouse/di/NavigatorModule.kt
  app/src/main/java/com/lighthouse/navigator/AddGifticonNavigatorImpl.kt
  app/src/main/java/com/lighthouse/navigator/DetailNavigatorImpl.kt
  app/src/main/java/com/lighthouse/navigator/GifticonListNavigatorImpl.kt
  app/src/main/java/com/lighthouse/navigator/HomeNavigatorImpl.kt
  app/src/main/java/com/lighthouse/navigator/MapNavigatorImpl.kt
  app/src/main/java/com/lighthouse/navigator/SecurityNavigatorImpl.kt
  app/src/main/java/com/lighthouse/navigator/SettingNavigatorImpl.kt
  auth/src/main/java/com/lighthouse/auth/repository/GoogleClientImpl.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/navigator/GifticonListNavigator.kt
  features/ui-intro/build.gradle.kts
  features/ui-intro/src/main/res/drawable/img_google_logo.png
  features/ui-intro/src/main/res/drawable/ripple_black_12_rect_corner_8_on_white.xml
  features/ui-intro/src/main/res/drawable/ripple_white_12_rect_corner_8.xml
  features/ui-intro/src/main/res/layout/activity_intro.xml
  features/ui-intro/src/main/res/values/strings.xml
  features/ui-main/src/main/java/com/lighthouse/features/main/navigator/MainNav.kt
Labels: feat

Issues #287 feat: data 모듈에서 auth 의존성 제거
  auth-google/build.gradle.kts
  auth-google/src/main/java/com/lighthouse/auth/google/repository/GoogleClientImpl.kt
  domain/src/main/java/com/lighthouse/domain/usecase/gifticon/edit/AddRecognizeUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/gifticon/edit/GetGifticonForUpdateUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/gifticon/edit/HasGifticonBrandUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/gifticon/edit/ModifyGifticonUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/gifticon/edit/RecognizeGifticonFieldsUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/gifticon/edit/RecognizeGifticonUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/gifticon/edit/SaveGifticonsUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/gifticon/edit/recognize/RecognizeBalanceUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/gifticon/edit/recognize/RecognizeBarcodeUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/gifticon/edit/recognize/RecognizeBrandNameUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/gifticon/edit/recognize/RecognizeExpiredUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/gifticon/edit/recognize/RecognizeGifticonNameUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/gifticon/remove/RemoveExpirationBrandUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/gifticon/search/GetGifticonsWithDDayUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/setting/GetNotificationOptionUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/setting/GetSecurityOptionUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/user/IsGuestUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/user/LoginUseCase.kt
  worker/src/main/java/com/lighthouse/worker/workers/ExpirationBrandWorker.kt
  worker/src/main/java/com/lighthouse/worker/workers/NotificationWorker.kt
Labels: feat

Issues #287 feat: signInState 를 이용하여 상태 처리
  auth-google/src/main/java/com/lighthouse/auth/google/exception/FailedApiException.kt
  features/ui-intro/src/main/java/com/lighthouse/features/intro/model/SignInState.kt
  features/ui-intro/src/main/java/com/lighthouse/features/intro/ui/IntroActivity.kt
  features/ui-intro/src/main/java/com/lighthouse/features/intro/ui/IntroViewModel.kt
Labels: none

Issues #287 feat: home 구조 설계
  features/ui-gifticonlist/src/main/res/values/strings.xml
  features/ui-home/src/main/res/layout/fragment_home.xml
  features/ui-home/src/main/res/layout/fragment_home_container.xml
  features/ui-home/src/main/res/layout/fragment_home_empty.xml
  features/ui-home/src/main/res/layout/item_gifticon.xml
  features/ui-home/src/main/res/layout/item_gifticon_with_distance.xml
  features/ui-home/src/main/res/layout/section_expired.xml
  features/ui-home/src/main/res/layout/section_header.xml
  features/ui-home/src/main/res/layout/section_map.xml
  features/ui-home/src/main/res/layout/section_map_empty.xml
  features/ui-home/src/main/res/layout/section_map_loading.xml
  features/ui-home/src/main/res/layout/section_request_location_permission.xml
  features/ui-home/src/main/res/values/strings.xml
Labels: none

Issues #287 feat: signOut 기능 구현
  auth-google/src/main/java/com/lighthouse/auth/google/exception/FailedSignOutException.kt
  auth-google/src/main/java/com/lighthouse/auth/google/repository/GoogleClient.kt
  auth-google/src/main/java/com/lighthouse/auth/google/repository/GoogleClientImpl.kt
Labels: none

Issues #287 feat: 공통 사용 리소스 정리
  common-android/src/main/res/drawable/ripple_circle_on_primary_12.xml
  common-android/src/main/res/drawable/ripple_circle_on_surface_12.xml
  features/ui-common/src/main/res/drawable/bg_on_surface_12.xml
  features/ui-common/src/main/res/drawable/bg_primary_corner_4.xml
  features/ui-common/src/main/res/drawable/img_stamp.xml
  features/ui-common/src/main/res/drawable/ripple_on_primary_12_circle.xml
  features/ui-common/src/main/res/drawable/ripple_on_primary_12_rect_corner_4_primary.xml
  features/ui-common/src/main/res/drawable/ripple_on_primary_12_rect_corner_8.xml
  features/ui-common/src/main/res/drawable/ripple_on_surface_12_circle.xml
  features/ui-common/src/main/res/drawable/ripple_on_surface_12_rect_corner_8.xml
  features/ui-common/src/main/res/layout/dialog_confirmation.xml
  features/ui-common/src/main/res/layout/dialog_spinner_date_picker.xml
  features/ui-common/src/main/res/layout/layout_stamp.xml
Labels: none

Issues #287 feat: home layout 구현
  features/ui-home/build.gradle.kts
  features/ui-home/src/main/java/com/lighthouse/features/home/mapper/GifticonMapper.kt
  features/ui-home/src/main/java/com/lighthouse/features/home/mapper/GifticonWithDistanceMapper.kt
  features/ui-home/src/main/java/com/lighthouse/features/home/model/HomeAction.kt
  features/ui-home/src/main/java/com/lighthouse/features/home/model/HomeCard.kt
  features/ui-home/src/main/java/com/lighthouse/features/home/model/HomeItem.kt
  features/ui-home/src/main/java/com/lighthouse/features/home/model/UIGifticon.kt
  features/ui-home/src/main/java/com/lighthouse/features/home/model/UIGifticonWithDistance.kt
  features/ui-home/src/main/java/com/lighthouse/features/home/ui/HomeContainerFragment.kt
  features/ui-home/src/main/java/com/lighthouse/features/home/ui/HomeEmptyFragment.kt
  features/ui-home/src/main/java/com/lighthouse/features/home/ui/HomeFragment.kt
  features/ui-home/src/main/java/com/lighthouse/features/home/ui/HomeNavViewModel.kt
  features/ui-home/src/main/res/layout/fragment_home.xml
  features/ui-home/src/main/res/layout/fragment_home_container.xml
  features/ui-home/src/main/res/layout/fragment_home_empty.xml
  features/ui-home/src/main/res/layout/item_gifticon.xml
  features/ui-home/src/main/res/layout/item_gifticon_loading.xml
  features/ui-home/src/main/res/layout/item_gifticon_with_distance.xml
  features/ui-home/src/main/res/layout/section_card_list.xml
  features/ui-home/src/main/res/layout/section_expired.xml
  features/ui-home/src/main/res/layout/section_header.xml
  features/ui-home/src/main/res/layout/section_map.xml
  features/ui-home/src/main/res/layout/section_map_empty.xml
  features/ui-home/src/main/res/layout/section_map_loading.xml
  features/ui-home/src/main/res/layout/section_request_location_permission.xml
  features/ui-home/src/main/res/navigation/home_nav_graph.xml
  features/ui-home/src/main/res/raw/lottie_empty_gifticon.json
  features/ui-home/src/main/res/values/dimens.xml
  features/ui-home/src/main/res/values/strings.xml
  features/ui-home/src/main/res/values/styles.xml
  features/ui-setting/src/main/res/values/styles.xml
  model/src/main/java/com/lighthouse/beep/model/gifticon/GifticonWithDistance.kt
Labels: none

Issues #287 feat: home design 수정
  features/ui-home/src/main/res/drawable/bg_on_surface_12_corner_2.xml
  features/ui-home/src/main/res/layout/item_gifticon_loading.xml
  features/ui-home/src/main/res/layout/section_card_list.xml
  features/ui-home/src/main/res/layout/section_map_empty.xml
  features/ui-home/src/main/res/layout/section_map_loading.xml
  features/ui-home/src/main/res/values/dimens.xml
  features/ui-home/src/main/res/values/styles.xml
Labels: none

Issues #287 feat: setting builder를 이용하여 유동적인 화면 구성
  features/ui-setting/src/main/java/com/lighthouse/features/setting/ext/SettingGroupExt.kt
  features/ui-setting/src/main/java/com/lighthouse/features/setting/ext/SettingItemExt.kt
  features/ui-setting/src/main/java/com/lighthouse/features/setting/model/SettingGroup.kt
  features/ui-setting/src/main/java/com/lighthouse/features/setting/model/SettingItem.kt
  features/ui-setting/src/main/java/com/lighthouse/features/setting/model/SettingMenu.kt
  features/ui-setting/src/main/java/com/lighthouse/features/setting/ui/SettingViewModel.kt
  features/ui-setting/src/main/res/layout/item_button.xml
  features/ui-setting/src/main/res/layout/item_divider.xml
  features/ui-setting/src/main/res/layout/item_group_header.xml
  features/ui-setting/src/main/res/layout/item_state_button.xml
  features/ui-setting/src/main/res/layout/item_state_switch.xml
Labels: none

Issues #287 feat: SAA 구조로 변경 Intro -> Fragment 로 변경
  domain/src/main/java/com/lighthouse/domain/usecase/user/IsLoginUserUseCase.kt
  features/ui-intro/src/main/AndroidManifest.xml
  features/ui-intro/src/main/java/com/lighthouse/features/intro/di/IntroNav.kt
  features/ui-intro/src/main/java/com/lighthouse/features/intro/ui/IntroFragment.kt
  features/ui-intro/src/main/java/com/lighthouse/features/intro/ui/IntroViewModel.kt
  features/ui-intro/src/main/res/layout/fragment_intro.xml
  features/ui-main/src/main/AndroidManifest.xml
Labels: feat

Issues #287 feat: SAA 구조로 변경 app 모듈에 MainActivity 추가
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/lighthouse/ui/MainActivity.kt
  app/src/main/java/com/lighthouse/ui/MainViewModel.kt
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/navigation/main_graph.xml
  data/data/src/main/java/com/lighthouse/repository/user/UserRepositoryImpl.kt
  domain/src/main/java/com/lighthouse/domain/repository/user/UserRepository.kt
Labels: feat

Issues #287 feat: DB 데이터에 balance 제거, total_cash, remain_cash 추가
  app/src/main/java/com/lighthouse/navigator/MainNavigatorImpl.kt
  app/src/main/res/layout/activity_main.xml
  data/data-database/src/main/java/com/lighthouse/data/database/dao/GifticonEditDao.kt
  data/data-database/src/main/java/com/lighthouse/data/database/dao/GifticonSearchDao.kt
  data/data-database/src/main/java/com/lighthouse/data/database/dao/GifticonUsageHistoryDao.kt
  data/data-database/src/main/java/com/lighthouse/data/database/entity/DBGifticonEntity.kt
  data/data-database/src/main/java/com/lighthouse/data/database/mapper/gifticon/edit/DBGifticonWithCropMapper.kt
  data/data-database/src/main/java/com/lighthouse/data/database/mapper/gifticon/edit/GifticonWithCropMapper.kt
  data/data-database/src/main/java/com/lighthouse/data/database/mapper/gifticon/search/DBGifticonEntityMapper.kt
  data/data-database/src/main/java/com/lighthouse/data/database/mapper/gifticon/search/DBGifticonMapper.kt
  data/data-database/src/main/java/com/lighthouse/data/database/model/DBGifticon.kt
  data/data-database/src/main/java/com/lighthouse/data/database/model/DBGifticonWithCrop.kt
  data/data/src/main/java/com/lighthouse/mapper/GifticonForAddtionMapper.kt
  data/data/src/main/java/com/lighthouse/mapper/GifticonForUpdateMapper.kt
  features/ui-intro/src/main/java/com/lighthouse/features/intro/ui/IntroFragment.kt
  features/ui-intro/src/main/res/values/navigation.xml
  features/ui-main/src/main/java/com/lighthouse/features/main/ui/MainContainerFragment.kt
  features/ui-main/src/main/java/com/lighthouse/features/main/ui/MainContainerViewModel.kt
  features/ui-main/src/main/res/layout/fragment_main_container.xml
  features/ui-setting/src/main/res/layout/fragment_setting.xml
  model/src/main/java/com/lighthouse/beep/model/gifticon/GifticonForAddition.kt
  model/src/main/java/com/lighthouse/beep/model/gifticon/GifticonForUpdate.kt
  model/src/main/java/com/lighthouse/beep/model/gifticon/GifticonWithCrop.kt
Labels: feat

Issues #287 feat: 각 모듈별 nav_graph 정의
  app/src/main/java/com/lighthouse/ui/MainActivity.kt
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/navigation/main_graph.xml
  features/ui-gifticonlist/build.gradle.kts
  features/ui-gifticonlist/src/main/java/com/lighthouse/features/gifticonlist/ui/GifticonListFragment.kt
  features/ui-gifticonlist/src/main/res/navigation/gifticon_list_nav_graph.xml
  features/ui-home/src/main/java/com/lighthouse/features/home/ui/HomeLoadingFragment.kt
  features/ui-home/src/main/res/navigation/home_container_nav_graph.xml
  features/ui-home/src/main/res/navigation/home_nav_graph.xml
  features/ui-intro/build.gradle.kts
  features/ui-intro/src/main/res/navigation/intro_nav_graph.xml
  features/ui-main/src/main/res/navigation/main_nav_graph.xml
  features/ui-setting/build.gradle.kts
  features/ui-setting/src/main/res/navigation/setting_nav_graph.xml
Labels: feat

Issues #287 feat: intro, main 화면 전환 구현
  app/src/main/java/com/lighthouse/ui/MainActivity.kt
  app/src/main/res/navigation/main_graph.xml
  features/ui-intro/src/main/res/values/navigation.xml
  features/ui-main/build.gradle.kts
  features/ui-main/src/main/java/com/lighthouse/features/main/ui/MainContainerFragment.kt
  features/ui-main/src/main/res/layout/fragment_main_container.xml
  features/ui-main/src/main/res/menu/menu_navigation.xml
  features/ui-main/src/main/res/navigation/main_container_nav_graph.xml
  features/ui-main/src/main/res/navigation/main_nav_graph.xml
Labels: feat

Issues #287 feat: Setting RecyclerView 구현
  features/ui-main/src/main/java/com/lighthouse/features/main/ui/MainContainerFragment.kt
  features/ui-main/src/main/res/layout/fragment_main_container.xml
  features/ui-setting/src/main/java/com/lighthouse/features/setting/adapter/ButtonViewHolder.kt
  features/ui-setting/src/main/java/com/lighthouse/features/setting/adapter/DividerViewHolder.kt
  features/ui-setting/src/main/java/com/lighthouse/features/setting/adapter/GroupHeaderViewHolder.kt
  features/ui-setting/src/main/java/com/lighthouse/features/setting/adapter/SettingAdapter.kt
  features/ui-setting/src/main/java/com/lighthouse/features/setting/adapter/SettingItemDiff.kt
  features/ui-setting/src/main/java/com/lighthouse/features/setting/adapter/StateButtonViewHolder.kt
  features/ui-setting/src/main/java/com/lighthouse/features/setting/adapter/StateSwitchViewHolder.kt
  features/ui-setting/src/main/res/layout/fragment_setting.xml
  features/ui-setting/src/main/res/layout/item_button.xml
  features/ui-setting/src/main/res/layout/item_divider.xml
  features/ui-setting/src/main/res/layout/item_group_header.xml
  features/ui-setting/src/main/res/layout/item_state_button.xml
  features/ui-setting/src/main/res/layout/item_state_switch.xml
Labels: none

Issues #287 feat: Setting과 연결된 빈 화면을 정의
  app/build.gradle.kts
  domain/src/main/java/com/lighthouse/domain/usecase/setting/SetNotificationOptionUseCase.kt
  domain/src/main/java/com/lighthouse/domain/usecase/setting/SetSecurityOptionUseCase.kt
  features/ui-coffee/.gitignore
  features/ui-coffee/build.gradle.kts
  features/ui-coffee/src/main/java/com/lighthouse/features/coffee/ui/CoffeeFragment.kt
  features/ui-coffee/src/main/res/layout/fragment_coffee.xml
  features/ui-coffee/src/main/res/navigation/coffee_nav_graph.xml
  features/ui-opensourcelicense/.gitignore
  features/ui-opensourcelicense/build.gradle.kts
  features/ui-opensourcelicense/src/main/java/com/lighthouse/features/opensourcelicense/ui/OpenSourceLicenseFragment.kt
  features/ui-opensourcelicense/src/main/res/layout/fragment_open_source_license.xml
  features/ui-opensourcelicense/src/main/res/navigation/open_source_license_nav_graph.xml
  features/ui-personalinfopolicy/.gitignore
  features/ui-personalinfopolicy/build.gradle.kts
  features/ui-personalinfopolicy/src/main/java/com/lighthouse/geatures/personalinfopolicy/ui/PersonalInfoPolicyFragment.kt
  features/ui-personalinfopolicy/src/main/res/layout/fragment_personal_info_policy.xml
  features/ui-personalinfopolicy/src/main/res/navigation/personal_info_policy_nav_graph.xml
  features/ui-security/build.gradle.kts
  features/ui-security/src/main/java/com/lighthouse/features/security/ui/SecurityFragment.kt
  features/ui-security/src/main/res/layout/fragment_security.xml
  features/ui-security/src/main/res/navigation/security_nav_graph.xml
  features/ui-setting/src/main/java/com/lighthouse/features/setting/ui/SettingFragment.kt
  features/ui-setting/src/main/java/com/lighthouse/features/setting/ui/SettingViewModel.kt
  features/ui-termsofuse/.gitignore
  features/ui-termsofuse/build.gradle.kts
  features/ui-termsofuse/src/main/java/com/lighthouse/features/termsofuse/ui/TermsOfUseFragment.kt
  features/ui-termsofuse/src/main/res/layout/fragment_terms_of_use.xml
  features/ui-termsofuse/src/main/res/navigation/terms_of_use_nav_graph.xml
  features/ui-usedgifticon/.gitignore
  features/ui-usedgifticon/build.gradle.kts
  features/ui-usedgifticon/src/main/java/com/lighthouse/features/usedgifticon/ui/UsedGifticonFragment.kt
  features/ui-usedgifticon/src/main/res/layout/fragment_used_gifticon.xml
  features/ui-usedgifticon/src/main/res/navigation/used_gifticon_nav_graph.xml
  settings.gradle.kts
Labels: feat

Issues #287 feat: NavigationViewModel 을 이용해서 Activity 와 통신
  app/src/main/java/com/lighthouse/di/NavigatorModule.kt
  app/src/main/java/com/lighthouse/navigator/AddGifticonNavigatorImpl.kt
  app/src/main/java/com/lighthouse/navigator/DetailNavigatorImpl.kt
  app/src/main/java/com/lighthouse/navigator/DetailPendingNavigatorImpl.kt
  app/src/main/java/com/lighthouse/navigator/GifticonListNavigatorImpl.kt
  app/src/main/java/com/lighthouse/navigator/HomeNavigatorImpl.kt
  app/src/main/java/com/lighthouse/navigator/MainNavigatorImpl.kt
  app/src/main/java/com/lighthouse/navigator/MapNavigatorImpl.kt
  app/src/main/java/com/lighthouse/navigator/SecurityNavigatorImpl.kt
  app/src/main/java/com/lighthouse/navigator/SettingNavigatorImpl.kt
  app/src/main/java/com/lighthouse/ui/MainActivity.kt
  app/src/main/java/com/lighthouse/ui/MainViewModel.kt
  app/src/main/res/navigation/main_graph.xml
  features/ui-common/build.gradle.kts
  features/ui-common/src/main/java/com/lighthouse/features/common/model/NavigationItem.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/navigator/AddGifticonNavigator.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/navigator/DetailNavigator.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/navigator/DetailPendingNavigator.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/navigator/GifticonListNavigator.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/navigator/HomeNavigator.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/navigator/MainNavigator.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/navigator/MapNavigator.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/navigator/NavigationViewModel.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/navigator/SecurityNavigator.kt
  features/ui-common/src/main/java/com/lighthouse/features/common/navigator/SettingNavigator.kt
  features/ui-main/src/main/java/com/lighthouse/features/main/navigator/MainNav.kt
  worker/src/main/java/com/lighthouse/worker/workers/NotificationWorker.kt
Labels: feat

Issues #287 feat: UIText 에 equals, hashcode 구현
  core-android/src/main/java/com/lighthouse/core/android/utils/resource/UIText.kt
Labels: none

Issues #287 feat: SettingList 갱신 깜박임 문제 해결
  app/src/main/java/com/lighthouse/ui/MainActivity.kt
  app/src/main/java/com/lighthouse/ui/MainViewModel.kt
  auth/src/main/java/com/lighthouse/auth/repository/AuthRepositoryImpl.kt
  core-android/src/main/java/com/lighthouse/core/android/utils/resource/UIText.kt
  features/ui-coffee/src/main/res/layout/fragment_coffee.xml
  features/ui-common/src/main/java/com/lighthouse/features/common/navigator/AppNavigationViewModel.kt
  features/ui-main/src/main/java/com/lighthouse/features/main/ui/MainContainerFragment.kt
  features/ui-opensourcelicense/src/main/res/layout/fragment_open_source_license.xml
  features/ui-personalinfopolicy/src/main/res/layout/fragment_personal_info_policy.xml
  features/ui-security/src/main/res/layout/fragment_security.xml
  features/ui-setting/build.gradle.kts
  features/ui-setting/src/main/java/com/lighthouse/features/setting/adapter/SettingItemDiff.kt
  features/ui-setting/src/main/java/com/lighthouse/features/setting/model/SettingGroup.kt
  features/ui-setting/src/main/java/com/lighthouse/features/setting/model/SettingMenu.kt
  features/ui-setting/src/main/java/com/lighthouse/features/setting/navigator/SettingNav.kt
  features/ui-setting/src/main/java/com/lighthouse/features/setting/ui/SettingFragment.kt
  features/ui-setting/src/main/java/com/lighthouse/features/setting/ui/SettingViewModel.kt
  features/ui-setting/src/main/res/layout/fragment_setting.xml
  features/ui-setting/src/main/res/layout/item_state_button.xml
  features/ui-setting/src/main/res/layout/item_state_switch.xml
  features/ui-setting/src/main/res/values/strings.xml
  features/ui-termsofuse/src/main/res/layout/fragment_terms_of_use.xml
  features/ui-usedgifticon/src/main/res/layout/fragment_used_gifticon.xml
  worker/src/main/java/com/lighthouse/worker/workers/NotificationWorker.kt
Labels: feat
